:root{
	--color-violet: #4F2EE8;
	--color-yellow: #EAC645;
	--font-color-white: #ffffff;
	--font-color-grey: #6c6c6c;
	--font-color-violet: #4F2EE8;
	--font-color-yellow: #EAC645;
}

body.light {
  --background-color: #ffffff;
	--background-color1: #f6f6f6;
	--font-color: #111111;
	--background-checkbox-theme: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
  --color-pagination-fill: #B4AFAF;
}

body.dark {
  --background-color: #000000;
	--background-color1: #202024;
	--font-color: #ffffff;
	--background-checkbox-theme: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
  --color-pagination-fill: #ffffff;
}  

}