@import '~node_modules/modern-normalize/modern-normalize.css'; /* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*  */
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --color-violet: #4F2EE8;
  --color-yellow: #EAC645;
  --font-color-white: #FFFFFF;
  --font-color-grey: #6C6C6C;
  --font-color-violet: #4F2EE8;
  --font-color-yellow: #EAC645;
}

body.light {
  --background-color: #FFFFFF;
  --background-color1: #F6F6F6;
  --font-color: #111111;
  --background-checkbox-theme: linear-gradient(180deg,
  		#4F2EE8 0%,
  		#DCDCDC 100%);
  --border-color: #202024;
  --background-color-submit: #111111;
  --text-color-submit: #F3F3F3;
  --text-buttons-submit: rgba(17, 17, 17, 0.5);
  --text-color-auth-form: #111111;
  --background-color-auth-form: #F6F6F6;
  --background-color-submit-active: #333333;
  --color-text-category: rgba(17, 17, 17, 0.6);
  --color-text-categor-hover: #4F2EE8;
  --color-line-scroll: #E0E0E0;
  --background-color1: #F6F6F6;
  --font-color: #111111;
  --background-checkbox-theme: linear-gradient(180deg,
  		#4F2EE8 0%,
  		#DCDCDC 100%);
  --color-pagination-fill: #B4AFAF;
}

body.dark {
  --background-color: #000000;
  --background-color1: #202024;
  --font-color: #FFFFFF;
  --background-checkbox-theme: linear-gradient(180deg,
  		#4F2EE8 0%,
  		#686868 100%);
  --border-color: #F6F6F6;
  --background-color-submit: #F6F6F6;
  --text-color-submit: #202024;
  --text-buttons-submit: rgba(246, 246, 246, 0.5);
  --text-color-auth-form: #F6F6F6;
  --background-color-auth-form: #202024;
  --background-color-submit-active: #F6F6F6;
  --color-text-category: rgba(255, 255, 255, 0.6);
  --color-text-categor-hover: #EAC645;
  --color-line-scroll: rgba(17, 17, 17, 0.6);
  --background-color1: #202024;
  --font-color: #FFFFFF;
  --background-checkbox-theme: linear-gradient(180deg,
  		#4F2EE8 0%,
  		#686868 100%);
  --color-pagination-fill: #FFFFFF;
}

@font-face {
  font-family: "DM Sans Regular";
  src: url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  ont-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans Italic";
  src: url("../fonts/DMSans-Italic.woff") format("woff"), url("../fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  ont-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans Medium";
  src: url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  ont-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans Bold";
  src: url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  ont-display: swap;
  font-style: normal;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "DM Sans Regular", sans-serif;
}

.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.flex-group {
  background-color: var(--background-color1);
}
@media screen and (min-width: 768px) {
  .flex-group {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .flex-group {
    flex-direction: column;
  }
}

.category {
  width: 335px;
  height: 228px;
  overflow-y: scroll;
  margin-bottom: 40px;
}
.category-support {
  margin-top: 40px;
}
.category::-webkit-scrollbar {
  width: 8px;
}
.category::-webkit-scrollbar-thumb {
  border-radius: 12px;
  height: 114px;
  background-color: var(--color-line-scroll);
}
@media screen and (min-width: 768px) {
  .category {
    width: 337px;
    height: 472px;
    margin-right: 32px;
  }
  .category::-webkit-scrollbar-thumb {
    height: 167px;
  }
}
@media screen and (min-width: 1440px) {
  .category {
    width: 356px;
    margin-right: 40px;
    margin-bottom: 86px;
  }
}

.category__item {
  display: block;
  color: var(--color-text-category);
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  letter-spacing: -0.32px;
  cursor: pointer;
}
.category__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .category__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .category__item {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1.125;
    letter-spacing: -0.36px;
  }
}
.category__item:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: var(--color-text-categor-hover);
}

.flex-group {
  color: var(--font-color-violet);
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .scroll-up {
    position: fixed;
    bottom: 17px;
    right: 17px;
    width: 54px;
    height: 54px;
    padding: 15px;
    background-color: var(--color-violet);
    border-radius: 50%;
    box-shadow: 0px 0px 0 5px rgba(79, 46, 232, 0.3);
  }
  .scroll-up:hover, .scroll-up:focus {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=index.css.map */