<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container container-top">
        <div class="block-btn">
          <input
            class="check-theme visually-hidden"
            type="checkbox"
            id="switch-theme"
          />
          <label
            for="switch-theme"
            class="check-text"
            title="Switch theme"
          ></label>
        </div>
      </div>
    </header>
  </body>
</html>
