<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html">
        <svg class="logo-icon" width="24" height="24">
          <use href="/src/images/icons.svg#logo"></use>
        </svg>
        <svg class="logo-bookshelf" width="77" height="14">
          <use href="./images/icons.svg#logo-text"></use>
        </svg>
      </a>
      <div class="menu-container">
        <a class="home-link current-color" href="./index.html">Home</a>
        <a class="shoping-link" href="#"
          >Shopping list
          <svg class="bag-icon" width="20" height="20">
            <use href="/src/images/icons.svg#bag"></use>
          </svg>
        </a>
      </div>
    </nav>
    <div class="block-btn">
      <input class="check-theme is-hidden" type="checkbox" id="switch-theme" />
      <label for="switch-theme" class="check-text" title="Switch theme"></label>
      <button type="button" class="menu-btn is-open js-burger">
        <svg
          class="open-menu"
          width="28"
          height="28"
          aria-label="open mobile menu"
        >
          <use href="./images/icons.svg#burger"></use>
        </svg>
        <svg
          class="close-menu hidden"
          width="28"
          height="28"
          aria-label="close mobile menu"
        >
          <use href="./images/icons.svg#x-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu hidden">
    <!-- <div class="header-container container">
      <nav class="header-nav">
        <a class="logo-header" href="./index.html">
          <svg class="logo-icon" width="24" height="24">
            <use href="/src/images/icons.svg#logo"></use>
          </svg>
          <svg class="logo-bookshelf" width="77" height="14">
            <use href="./images/icons.svg#logo-text"></use>
          </svg>
        </a>
      </nav>
      <div class="block-btn">
        <input
          class="check-theme is-hidden"
          type="checkbox"
          id="switch-theme"
        />
        <label
          for="switch-theme"
          class="check-text"
          title="Switch theme"
        ></label>
        <button type="button" class="menu-btn is-open js-burger">
          <svg
            class="open-menu"
            width="28"
            height="28"
            aria-label="open mobile menu"
          >
            <use href="./images/icons.svg#burger"></use>
          </svg>
          <svg
            class="close-menu hidden"
            width="28"
            height="28"
            aria-label="close mobile menu"
          >
            <use href="./images/icons.svg#x-close"></use>
          </svg>
        </button>
      </div>
    </div> -->
    <div class="mob-menu-container">
      <a class="mob-home-link home-link current-color" href="./index.html"
        >Home</a
      >
      <a class="mob-shoping-link shoping-link" href="#"
        >Shopping list
        <svg class="mob-bag-icon" width="20" height="20">
          <use href="/src/images/icons.svg#bag"></use>
        </svg>
      </a>
    </div>

    <img class="book-menu" src="/src/images/books.png" alt="book" />
  </div>
</header>
