<div class="shopping">
  <asaid class="asaid-container is-hidden">
    <include src="./partials/slider.html"></include>
  </asaid>
  <div class="shopping-list">
    <h1 class="shopping-list-title">
      Shopping <span class="shopping-list-title-span">List</span>
    </h1>
    <div class="shopping-list-empty is-hidden">
      <p class="shopping-list-empty-text">
        This page is empty, add some books <br />
        and proceed to order.
      </p>
      <div class="shopping-list-empty-img"></div>
    </div>
    <div class="shopping-list-full">
      <div class="shopping-list-full-left">
        <img
          src="/src/images/empte-book_116x165.png"
          alt="empty"
          width="100"
          height="142"
        />
      </div>
      <div class="shopping-list-full-right">
        <h3 class="shopping-list-full-right-title">I will find you</h3>
        <h4 class="shopping-list-full-right-category">Hardcover fiction</h4>
        <p class="shopping-list-full-right-text">
          David Burroughs was once a devoted father to his three-year-old son
          Matthew, living a dream life just a short drive away from the
          working-class suburb where he and his wife, Cheryl, first fell in
          love--until one fateful night when David woke suddenly to discover
          Matthew had been murdered while David was asleep just down the hall.
        </p>
        <div class="shopping-list-full-right-bottom">
          <h4 class="shopping-list-full-right-author">Harlan Coben</h4>
          <ul class="shopping-icon-list">
            <li class="shopping-icon-list-item">
              <a href="#" class="shopping-icon-list-link">
                <div class="shopping-icon-list-amazon"></div
              ></a>
            </li>
            <li class="shopping-icon-list-item">
              <a href="#" class="shopping-icon-list-link"
                ><div class="shopping-icon-list-applebook"></div
              ></a>
            </li>
            <li class="shopping-icon-list-item">
              <a href="#" class="shopping-icon-list-link"
                ><div class="shopping-icon-list-bookshop"></div
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shopping-trash"></div>
    </div>
  </div>
</div>
