<div class="page-container">
<div class="slider-container">
  <div class="slider">
    <div class="slide">
      <div class="title-wrapper">
        <h1 class="title-text">Support Ukraine</h1>
        <svg class="trident" width="20" height="32" viewBox="0 0 24 24"> 
          <use href="/src/images/icons.svg#icon-trident"></use>
        </svg>
      </div>
      <div class="fund-info">
        <ul>
          <li class="fund-item active">
            01
            <img
              src="./images/fonds/save-children-white.png"
              alt="save-children"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            02
            <img
              src="./images/fonds/project-hope-white.png"
              alt="project-hope"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            03
            <img
              src="./images/fonds/international-medical-group-white.png"
              alt="international-medical-corps"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            04
            <img src="./images/fonds/razom-white .png" alt="razom" class="list-icon" />
          </li>
          <li class="fund-item">
            05
            <img
              src="./images/fonds/action-against-hunger-white.png"
              alt="action-against-hunger"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            06
            <img
              src="./images/fonds/sergiy-prytula-white.png"
              alt="sergiy-prytula"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            07
            <img
              src="./images/fonds/united24-white.png"
              alt="united24"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            08
            <img
              src="./images/fonds/world-wision-white.png"
              alt="world-wision"
              class="list-icon"
            />
          </li>
          <li class="fund-item">
            09
            <img
              src="./images/fonds/medecins-sans-white.png"
              alt="united24"
              class="list-icon"
            />
          </li>
        </ul>
      </div>
      <div class="scroll-icon">
      <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
    </div>
  </div>
  <button class="arrow-button down-button">
    <svg
      class="arrow-icon"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      stroke="currentColor"
      stroke-width="0"> 
      <use href="/src/images/icons.svg#icon-arrow-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
  </div>
