<div class="page-container">
<div class="slider-container">
  <div class="slider">
    <div class="slide">
      <div class="title-wrapper">
        <h1 class="title-text">Support Ukraine</h1>
        <svg class="trident" width="20" height="32" viewBox="0 0 24 24"> 
          <use href="/src/images/icons.svg#icon-trident"></use>
        </svg>
      </div>
      <div class="fund-info scroll-up">
        <ul class="swiper-wrapper">
          <li class="fund-item active">
            01
            <a href="https://www.savethechildren.net/">
            <img
              src="./images/fonds/save-children-white.png"
              alt="save-children"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            02
            <a href="https://www.projecthope.org/">
            <img
              src="./images/fonds/project-hope-white.png"
              alt="project-hope"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            03
            <a href="https://internationalmedicalcorps.org/">
            <img
              src="./images/fonds/international-medical-group-white.png"
              alt="international-medical-corps"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            04
            <a href="https://www.razomforukraine.org/ua/homeua/">
            <img src="./images/fonds/razom-white .png" alt="razom" class="list-icon" />
          </a>
        </li>
          <li class="fund-item">
            05
            <a href="https://www.actionagainsthunger.org/">
            <img
              src="./images/fonds/action-against-hunger-white.png"
              alt="action-against-hunger"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            06
            <a href="https://prytulafoundation.org/">
            <img
              src="./images/fonds/sergiy-prytula-white.png"
              alt="sergiy-prytula"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            07
            <a href="https://u24.gov.ua/uk">
            <img
              src="./images/fonds/united24-white.png"
              alt="united24"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            08
            <a href="https://www.wvi.org/view?gad=1">
            <img
              src="./images/fonds/world-wision-white.png"
              alt="world-wision"
              class="list-icon"
            /></a>
          </li>
          <li class="fund-item">
            09
            <a href="https://www.msf.org/who-we-are?gclid=Cj0KCQjwrMKmBhCJARIsAHuEAPQ5nPvRLPMTJzkzNY1bYeoJ6xHWL9Ggv2mC5N2WKQ_fFrZ2vZ9u0VgaAnGWEALw_wcB">
            <img
              src="./images/fonds/medecins-sans-white.png"
              alt="united24"
              class="list-icon"
            /></a>
          </li>
        </ul>
      </div>
  </div>
<button class="arrow-button down-button">
  <svg class="arrow-icon" width="32" height="32" viewBox="0 0 32 32" stroke-width="0"> 
    <use href="/src/images/icons.svg#icon-arrow-icon"></use>
  </svg>
</button>
    </div>
  </div>
</div>
  </div>
