.auth-logon {
  display: flex;
  display: none;
  align-items: center;
  width: 184px;
  height: 48px;

  font-weight: 500;
  line-height: calc(18 / 14);
  letter-spacing: -0.56px;

  border-radius: 18px;
  border-color: transparent;
  background-color: var(--color-violet);

  color: var(--font-color-white);
  &-noneuser {
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
  }
  &-isuser {
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text {
      color: var(--font-color-white);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.44px;
      text-transform: capitalize;
    }
  }
  & .auth-logon {
    &-noneuser {
      padding: 14px;
    }
    &-isuser {
      padding: 4px;
    }
  }
}

.auth-logout {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  width: 118px;
  height: 48px;

  border-radius: 18px;
  border: 1.5px solid var(--border-color);

  background-color: var(--font-color-white);
  &-user {
    width: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text {
      color: rgba(17, 17, 17, 1);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: calc(18 / 14);
      letter-spacing: -0.56px;
    }
  }
}

.backdrop-auth {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: var(--color-violet);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    & .modal-auth {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.modal-auth {
  position: absolute;
  width: 335px;
  height: 384px;
  padding: 40px 20px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--background-color1);

  border-radius: 18px;
  border: 2px solid var(--border-color);

  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-auth-close {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  &:focus {
    & .modal-button-auth-close-icon {
      stroke: var(--font-color-violet);
    }
  }
  &-icon {
    width: 20px;
    height: 20px;

    stroke: var(--font-color);
    background-color: var(--background-color1);

    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      stroke: var(--font-color-violet);
    }
  }
}

.modal-form-auth-field {
  display: flex;
  flex-direction: column;
  &-icon {
    position: absolute;
    top: 0;
    right: 16px;
    top: 50%;
    width: 18px;
    height: 18px;

    stroke: var(--font-color);
    fill: var(--background-color1);

    transform: translateY(-50%);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & + .modal-form-auth-field {
    margin-top: 24px;
  }
  &-input {
    display: flex;
    width: 293px;
    height: 50px;
    padding: 16px 50px 16px 24px;
    align-items: center;
    gap: 10px;

    border-radius: 40px;
    border: 2px solid var(--border-color);
    outline: transparent;
    color: var(--text-color-auth-form);
    background-color: var(--background-color-auth-form);

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(18 / 16);
    letter-spacing: -0.16px;
    text-transform: uppercase;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
      color: var(--text-color-auth-form);

      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: calc(18 / 16);
      letter-spacing: -0.16px;
      text-transform: uppercase;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.modal-form-auth-field-input:hover .modal-form-auth-field-icon {
  stroke: var(--font-color-violet);
}
.modal-form-auth-field-input:is(:hover, :focus)::placeholder {
  color: var(--font-color-violet);
}

.modal-form-auth-field-input:is(:hover, :focus) {
  border-color: var(--font-color-violet);
}

.modal-form-auth .pos-auth:focus-within .modal-form-auth-field-icon {
  stroke: var(--font-color-violet);
}

.modal-form-auth .pos-auth {
  position: relative;
}

.sign-buttons-auth {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 14px;
}

.sign-button-auth {
  color: var(--text-buttons-submit);
  background-color: var(--background-color-auth-form);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(18 / 14);
  margin-left: 0;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:is(:hover, :focus) {
    color: var(--font-color-violet);
    text-decoration-line: underline;
    outline: transparent;
  }
  &-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 294px;
    height: 50px;
    padding: 14px 112px;
    border-radius: 40px;
    color: var(--text-color-submit);
    background-color: var(--background-color-submit);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(18 / 16);
    letter-spacing: -0.16px;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:is(:hover, :focus) {
      color: #aaaaaa;
    }
    &:active {
      font-size: 15px;
      background-color: var(--background-color-submit-active);
      color: var(--text-color-submit);
      box-shadow: 0px 0px 26px 1px rgba(0, 0, 0, 0.75) inset;
      -webkit-box-shadow: 0px 0px 26px 1px rgba(0, 0, 0, 0.75) inset;
      -moz-box-shadow: 0px 0px 26px 1px rgba(0, 0, 0, 0.75) inset;
    }
  }
}

// ===============================================================

@media screen and (min-width: 0) and (max-width: 767px) {
  .block {
    position: relative;
  }

  .block-auth {
    display: none;
    position: absolute;
    top: 32px;
    left: -346px;
  }
  .auth-logon {
    display: flex;
    margin-top: 24px;
  }
  .auth-logout {
    position: absolute;
    top: 680px;
    left: 10px;
    z-index: -1;
    transition: top 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
      top: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .block-auth {
    position: relative;
    display: block;
  }

  .auth-logon {
    display: flex;
    border: 1.5px solid var(--border-color);
  }
  .auth-logout {
    width: 184px;
    position: absolute;
    top: 50px;
    left: 0;
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
    &.is-hidden {
      top: 0;
    }
    &-user {
      width: 184px;
    }
  }

  .modal-auth {
    width: 579px;
    height: 516px;
    padding: 80px 40px 40px;
  }
  .modal-button-auth-close {
    top: 31px;
    right: 31px;
    width: 28px;
    height: 28px;
    &-icon {
      width: 28px;
      height: 28px;
    }
  }
  .modal-form-auth-field {
    & + .modal-form-auth-field {
      margin-top: 28px;
    }
    &-input {
      display: flex;
      width: 499px;
      height: 64px;
      padding: 20px 56px 20px 40px;

      font-size: 18px;
      line-height: calc(24 / 18);
      letter-spacing: -0.18px;
      &::placeholder {
        font-size: 18px;
        line-height: calc(24 / 18);
        letter-spacing: -0.18px;
      }
    }
    &-icon {
      right: 18px;
      width: 28px;
      height: 28px;
    }
  }
  .sign-button-auth-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 499px;
    height: 64px;
    padding: 20px 173px;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: -0.18px;
  }
  .sign-buttons-auth {
    margin-top: 20px;
  }
  .sign-button-auth {
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: -0.18px;
  }
}
