.header{
    width: 100%;
    
}
.header-container{
    position: relative;
    width: auto; 
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;  
    border: 1.5px solid var(--font-color);
    border-radius: 0 0 8px 8px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo-bookshelf {
   fill: var(--font-color);
}
.menu-btn {
    display: inline-flex;
    border: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;  
    margin-left: auto;
    transition: scale 250ms var(--action);
}
.open-menu {
    stroke: var(--font-color);
}
.menu-btn .open-menu:hover,
.menu-btn .open-menu:focus{
    transform: scale(1.2);
    stroke: var(--font-color-violet);
}
.close-menu{
    stroke: var(--font-color);
    display: none;
}
.menu-btn .close-menu:hover,
.menu-btn .close-menu:focus {
    transform: scale(1.2);
    stroke: var(--font-color-violet);
}
.hidden{
    display: none;
}
.menu-container{
    display: none;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: radial-gradient(189.32% 190.93% at 59.76% -23.42%, var(--color-violet)18.03%, #fff 100%);
}
.mob-menu-container{
    padding-top: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 125px;
}
.current-color {
    background-color: var(--font-color-yellow);
    border-radius: 36px;
    // border: 1px solid transparent;
}
.home-link {
    display: inline-flex;
    align-items: center;
    width: 72px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--font-color);
    padding: 8px 16px;
    text-transform: uppercase;
    // transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.home-link:hover,
.home-link:focus {
    // border-color: var(--font-color-white);
    transform: scale(1.05);
}
.shoping-link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--font-color);
    
    padding: 8px 6px 8px 16px;
    text-transform: uppercase;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.shoping-link:hover,
.shoping-link:focus {
    transform: scale(1.05);
}

.bag-icon {
    fill: var(--font-color);
    margin-left: 4px;
}
.book-menu{
    width: 100%;
}


/////////////// CHECK-BOX  ///////////////
.block-btn {
    display: flex;
    align-items: center;
    gap: 14px;
}
.check-text {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    gap: 5px;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &::before {
        content: '';
        width: 40px;
        height: 20px;
        border: 0.1px solid rgb(195, 186, 235);
        background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
        border-radius: 50px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 1px;
        width: 18px;
        height: 18px;
        border: 0.1px solid rgb(195, 186, 235);
        background-color: #fff;
        border-radius: 50%;
        transition-duration: 250ms;
    }
}

.check-theme {
    &:checked {
        &+.check-text {
            &::after {
                transform: translate(20px);
            }
        }
    }
}

.dark-mode {
    background-color: #202024;
    color: white;

    .check-text {
        &::before {
            background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
        }
    }
}


@media screen and (min-width: 768px) {
    .menu-btn{
        display: none;
    }
    .header-container{
        justify-content: flex-start;
    }
    .menu-container{
        display: flex;
        margin-left: 40px;
        margin-right: 100px;
        gap: 16px;
    }
    
}

@media screen and (min-width: 1440px) {
   .menu-container {
        margin-left: 76px;
        gap: 24px;
    }
    .header-container {
        justify-content: space-between;
    }
}
